BasedOnStyle: LLVM
IndentWidth: 8
TabWidth: 8
UseTab: Always
ContinuationIndentWidth: 8
ColumnLimit: 80
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
IndentCaseLabels: false
AlignAfterOpenBracket: DontAlign
SpaceAfterCStyleCast: false
PointerAlignment: Right
SortIncludes: CaseInsensitive
