[Unit]
Description=Caramel Wayland wallpaper daemon
Documentation=man:carameld(1)
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=exec
ExecStart=carameld
Restart=on-failure
Slice=session.slice

[Install]
WantedBy=graphical-session.target
