[Unit]
Description=Manju Wayland wallpaper daemon
Documentation=man:manjud(1)
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=exec
ExecStart=manjud
Restart=on-failure
Slice=session.slice

[Install]
WantedBy=graphical-session.target
