[Unit]
Description=Sweetbg Wayland wallpaper daemon
Documentation=man:sweetbgd(1)
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=exec
ExecStart=sweetbgd
Restart=on-failure
Slice=session.slice

[Install]
WantedBy=graphical-session.target
